langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
ipykernel
matplotlib
pandas
torch
langchain-huggingface
langchain-experimental
langchain_astradb
bs4
rank_bm25
wikipedia
jq
pymupdf
unstructured[all-docs]
unstructured[local-inference]
unstructured-inference